:root{
  --color-primary: #000;
  --color-third: #85862a;
  --color-back: #b4cefd;
  --color-background: #001369;
}
*::-webkit-scrollbar {
  height: 10px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #58585863;    /* color of the scroll thumb */
  border-radius: 5px;       /* roundness of the scroll thumb */
}
* {
  color: black;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
.movie {
  flex: none;
  width: 180px;
  height: 270px;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
}
.movie-load-show{
  flex: none;
  background-color: gray;
  width: 120px;
  height: 180px;
  border-radius: 5px;
  animation-name: load-item;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.category-load {
  background-color: gray;
  animation-name: load-item;
  width: 100%;
  height: 25px;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.description-load {
  display: block;
  background-color: gray;
  animation-name: load-item;
  width: 100%;
  height: 25px;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.title-load{
  background-color: gray;
  animation-name: load-item;
  width: 150px;
  height: 25px;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.start-load {
  background-color: gray;
  animation-name: load-item;
  width: 25px;
  height: 25px;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.movie img {
  width: 100%;
}
.style-button {
  background-color: var(--color-back);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.display-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
body {
  background-color: var(--color-background);
  user-select: none;
}
.header{
  width: 100vw;
  height: auto;
  display: block;
  position: fixed;
  z-index: 100;
}
.header-top {
  height: 60px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  background-color: var(--color-background);
}
.content-arrow {
  margin-left: 15px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.content-arrow img {
  height: 100%;
}
.header-bottom{
  display: block;
  width: 100vw;
  position: relative;
  top: -1px;
}
.container-title {
  display: block;
  height: 40px;
  font-size: 32px;
  text-transform: capitalize;
  color: var(--color-back);
  font-weight: bolder;
  margin-right: 15px;
}

/*  main  */
main{
  background-color: #fff;
  /* border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px; */
  border-radius: 40px;
}
.up-container_search {
  padding-top: 110px;
  position: relative;
  width: 100%;
}
.img-inicio{
  position: relative;
  width: 100%;
}
.container-subtitle {
  background-color: var(--color-back);
  color: var(--color-primary);
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 auto;
}
.container-search {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.search-string {
  width: 200px;
  height: 40px;
  border: none;
  padding-left: 15px;
  font-size: 18px;
  border: solid var(--color-back) 2px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search-string:focus {
  outline: none;
}
.search-button {
  cursor: pointer;
  width: 50px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: solid var(--color-back) 2px;
  background-color: var(--color-back);
  box-sizing: content-box;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-button:focus {
  background-color: var(--color-third);
}
.search-button img {
  width: 50%;
}
/* trend */

.container-trends {
  margin: 0 25px;
  width: calc(100% - 50px);
  min-height: 350px;
}

.button-see-more:hover {
  border: solid black 2px;
}
.conatiner-trends__title{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 15px;
  border-radius: 25px;
}
.over{
  position: absolute;
  left: 0;
  z-index: 150;
  width: 100%;
  height: 320px;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: var(--color-back);
}
.container-movies__trends {
  padding-top: 25px;
  display: flex;
  gap: 10px;
}
.container-movies__trends article:first-child {
  margin-left: 15px;
}
.container-movies__trends article:last-child {
  margin-right: 15px;
}

/* categoria  id  */

.container-categories {
  margin: 0 25px;
  padding-bottom: 30px;
  width: calc(100% - 50px);
}
.container-categories h2 {
  margin-top: 20px;
  text-transform: capitalize;
  padding: 15px 10px;
  border-radius: 25px;
}

.generate-category {
  padding-top: 20px;
  padding-bottom: 20px;
  row-gap: 5px;
  font-size: 16px;
}
.generate-category div p{
  font-family: Arial, Helvetica, sans-serif;
}
.category-item {
  display: flex;
  align-items: center;
}
.color-category {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 5px;
  margin-right: 10px;
}
.name-category {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.384);
  color: var(--color-primary);
  border-radius: 5px;
  padding: 2px 5px;
  cursor: pointer;
}
.name-category:hover {
  background-color: rgb(255, 254, 254);
}
.name-category:active {
}
                                  /* category search*/
/* .title-category_search{
} */
.category-search {
  padding-top: 100px;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.container-movies-search{
  min-height: 100%;
}

.category-search_button{
  width: 100px;
  margin: 15px 0;
}
                                /* list movie select*/
.list-movie-search {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
/*----------------------*/

                                /*  select  */
.container-movie-select {
  width: 100%;
  background-color: var(--color-background);
}
.movie-img {
  position: relative;
}
.container-img-movie {
  width: 100vw;
  height: 72vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 50px;
}
.image-select{
  position: fixed;
  top: 60px;
  width: 100vw;
}
.movie-detail {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 25px;
  border-radius: 40px;
  background-color: white;
  z-index: 10;
}
.container-movie-title {
  width: calc(100% - 50px);
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}
.movie-title {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: var(--color-background);
}
.container-movie-title div {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
}
/* .container-movie-title div span {
  display: block;
  color: yellow;
} */
.point {
  font-weight: bold;
}
.container-movie-description {
  width: calc(100% - 50px);
  padding: 0 25px;
}
.movie-description {
  text-align: justify;
  color: var(--color-primary);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.category-select {
  width: calc(100% - 50px);
  padding: 0 25px;
}
.container-list-movie-select {
  width: 100vw;
  position: relative;
  padding-bottom: 40px;
}
.container-list-movie-select h4 {
  font-size: 20px;
  margin-left: 25px;
  margin-bottom: 10px;
}
.movie-select-class {
  width: 100%;
  height: 320px;
  background-color: var(--color-back);
}
.list-movie {
  width: 100%;
  position: absolute;
  display: flex;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 25px 0;
}
.list-movie article:first-child {
  margin-left: 15px;
}
.list-movie article:last-child {
  margin-right: 15px;
}
                          /*  trends    */
.trends {
  padding-top: 100px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
/* .title-trends_search {
  margin: 0;
  margin-top: 80px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-background);
  font-weight: bolder;
} */

                                    /* footer */
.content-footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: capitalize;
  background-color: transparent;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  /* background-image: url(https://riszart.github.io/riszmovie-page/public/img/img-footer-back/sm.jpg); */
  /* background-position: bottom; */
  /* background-repeat: no-repeat;
  background-size: cover; */
}
.content-footer p{
  font-size: 14px;
  font-weight: 600;
  color: var(--color-back);
}
.content-footer a{
  font-size: 14px;
  font-weight: bold;
  color: var(--color-back);
}

#id28 { background-color: rgb(255, 0, 106);}
#id12 { background-color: blue;}
#id16 { background-color: brown;}
#id35 { background-color: green;}
#id80 { background-color: yellow;}
#id99 { background-color: rgb(197, 113, 64);}
#id18 { background-color: rgb(38, 199, 73);}
#id10751 { background-color: rgb(185, 40, 161);}
#id14 { background-color: rgb(0, 153, 255);}
#id36 { background-color: rgb(128, 69, 69);}
#id27 { background-color: rgb(0, 255, 191);}
#id10402 { background-color: rgb(179, 255, 0);}
#id9648 { background-color: rgb(55, 0, 255);}
#id10749 { background-color: rgb(17, 0, 255);}
#id878 { background-color: rgb(0, 255, 115);}
#id10770 { background-color: rgb(36, 92, 48);}
#id53 { background-color: rgb(71, 57, 29);}
#id10752 { background-color: rgb(59, 112, 75);}
#id37 { background-color: rgb(189, 112, 212);}

.inactive {
  display: none;
}

.showSearch {
  position: fixed;
  margin: 0;
  top: 8px;
  right: 15px;
  z-index: 100;
}
.error {
  display: block;
  width: calc(100% - 30px) !important;
  height: 100%;
  padding: 15px;
  color: red;
  background-color: var(--color-background);
}
@keyframes load-item {
  0%, 100%{
    opacity: .2;
  }
  50% {
    opacity: .8;
  }
}