:root{
  --color-secundary: #fff;
  --color-primary: #000 ;
  --color-third: #9223237a;
  --color-back: #c7d9df;
  --color-background: #2c4b55;
  --box-shodow: inset 0px 0px 10px 2px black;
}
*::-webkit-scrollbar {
  height: 10px;               /* width of the entire scrollbar */
  width: 10px;               /* width of the entire scrollbar */
}
*::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}
*::-webkit-scrollbar-thumb {
  background-color: #58585863;    /* color of the scroll thumb */
  border-radius: 5px;       /* roundness of the scroll thumb */
}
* {
  color: black;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}
.ask-adult {
  display: block;
  background-color: #000000d8;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
}
.ask{
  width: 300px;
  padding: 25px 15px 25px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50% , -50%);
  border-radius: 10px;
  border: solid red 2px;
  background-color: #000;
}
.ask-adult_question {
  font-size: 24px;
  padding-bottom: 10px;
  color: #fff;
}
.check-ask {
  background-color: red;
  color:white;
  text-transform: capitalize;
  font-size: 24px;
  border-radius: 5px;
  border: solid black 2px;
}
.label-si, .label-no {
  color: #fff;
}
.content-true, .content-false {
  padding: 10px 10px;
  font-size: 22px;
  margin: 0 auto;
}
.content-true input, .content-false input {
  width: 20px;
  height:20px;
}
.content-answer {
  display: flex;
  flex-direction: column;
}
.items-right-style {
  display: flex;
  gap: 10px;
  padding: 0 10px 0 10px;
  overflow-y: hidden;
  overflow-x: scroll;
}
.style-subtitle {
  padding: 20px 0 10px 20px;
  text-transform: capitalize;
}
.movie {
  flex: none;
  position: relative;
  width: 180px;
  height: 270px;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
}
.movie-btn {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 100;
  background-color: var(--color-background);
  border: solid 2px var(--color-back);
}
.movie-btn::before {
  content: '♥';
  font-size: 38px;
  color: var(--color-back);
}
.movie-btn__liked {
  border: solid 2px red;
}
.movie-btn__liked::before {
  content: '♥';
  font-size: 38px;
  color: red;
}
.movie-load-show{
  flex: none;
  background-color: gray;
  width: 180px;
  height: 270px;
  border-radius: 5px;
  animation-name: load-item;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.category-load {
  background-color: gray;
  animation-name: load-item;
  width: 100%;
  height: 25px;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.description-load {
  display: block;
  background-color: gray;
  animation-name: load-item;
  width: 100%;
  height: 25px;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.title-load{
  background-color: gray;
  animation-name: load-item;
  width: 150px;
  height: 25px;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.start-load {
  background-color: gray;
  animation-name: load-item;
  width: 25px;
  height: 25px;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.movie img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #fff;
}
.style-button {
  background-color: var(--color-back);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.style-button:focus {
  background-color: var(--color-third);
}
.style-button:hover {
  box-shadow: var(--box-shodow);
}
.display-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
body {
  user-select: none;
  background-color: var(--color-background);
}
.header{
  width: 100vw;
  top: 0;
  position: fixed;
  z-index: 1000;
}
.header-top {
  height: 60px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  background-color: var(--color-background);
}
.container-lang {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 25px;
}
.lang-iten {
  height: 50px;
  width: 100px;
  margin: 0 auto;
  display: flex;
  gap: 5px;
}
.lang-iten img {
  width: 50px;
  padding: 10px 10px;
  border-radius: 5px;
  outline: solid var(--color-back) 2px;
}
.color-clicked {
  background-color: var(--color-background);
}
.content-arrow {
  margin-left: 15px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.content-arrow img {
  height: 100%;
}
.header-bottom{
  display: block;
  width: 100vw;
  position: relative;
  top: -1px;
}
.container-title {
  display: block;
  height: 40px;
  font-size: 32px;
  text-transform: capitalize;
  color: var(--color-back);
  font-weight: bolder;
  margin-right: 15px;
}

/*  main  */
main{
  background-color: var(--color-secundary);
  /* border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px; */
  border-radius: 40px;
}
.up-container_search {
  position: relative;
  width: 100%;
}
.img-inicio{
  position: relative;
  width: 100%;
}
.container-subtitle {
  background-color: var(--color-back);
  color: var(--color-primary);
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 auto;
}
.container-search {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.search-string {
  width: 200px;
  height: 40px;
  border: none;
  padding-left: 15px;
  font-size: 18px;
  border: solid var(--color-back) 2px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search-string:focus {
  outline: none;
}
.search-button {
  cursor: pointer;
  width: 50px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: solid var(--color-back) 2px;
  background-color: var(--color-back);
  box-sizing: content-box;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-button:focus {
  background-color: var(--color-third);
}
.search-button:hover {
  box-shadow: var(--box-shodow);
}
.search-button img {
  width: 50%;
}
/* -------------------------------------------trend */

.conatiner-trends__title{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-bottom: 15px;
  border-radius: 25px;
  text-transform: capitalize;
}

/* categoria  id  */

.container-categories {
}

.generate-category {
  padding: 0 0 0 20px;
  row-gap: 5px;
  font-size: 16px;
}
.generate-category div p{
  font-family: Arial, Helvetica, sans-serif;
}
.category-item {
  display: flex;
  align-items: center;
}
.color-category {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 5px;
  margin-right: 10px;
}
.name-category {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.384);
  color: var(--color-primary);
  border-radius: 5px;
  padding: 2px 5px;
  cursor: pointer;
}
.name-category:hover {
  background-color: var(--color-third);
}
/*---------------------------------favorite*/

.container-favorite {
  padding-bottom: 40px;
}

                                  /* category search*/
/* .title-category_search{
} */
.category-search {
  padding-top: 100px;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.container-movies-search{
  min-height: 100%;
}

.category-search_button{
  width: 100px;
  margin: 15px 0;
}
                                /* list movie select*/
.list-movie-search {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
/*----------------------*/

                                /*  select  */
.container-movie-select {
  width: 100%;
  background-color: var(--color-background);
}
.movie-img {
  position: relative;
}
.container-img-movie {
  width: 100vw;
  height: 72vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 50px;
}
.image-select{
  position: fixed;
  top: 60px;
  width: 100vw;
}
.movie-detail {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 25px;
  border-radius: 40px;
  border-top: solid var(--color-background) 5px;
  background-color: white;
  z-index: 10;
}
.container-movie-title {
  width: calc(100% - 50px);
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}
.movie-title {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: var(--color-background);
}
.point {
  font-weight: bold;
}
.container-movie-description {
  width: calc(100% - 50px);
  padding: 0 25px;
}
.movie-description {
  text-align: justify;
  color: var(--color-primary);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.movie-video_play {
  position: relative;
  height: 250px;
  width: 90vw;
  margin-left: 20px;
  background-color: #000;
}
.content-text__youtube {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  border: solid 2px red;
  border-radius: 5px;
}
.text-youtube {
  display: block;
  color: white;
  font-weight: 300;
  font-size: 16px;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.btn-youtube-go {
  text-transform: capitalize;
  display: block;
  font-weight: 800;
  color: black;
  content: "sad";
  padding: 5px 10px;
  background-color: red;
  border-radius: 15px;
}
.movie-video_play iframe{
  width: 100%;
  height: 100%;
}
.category-select_container h3 {
  padding-bottom: 10px;
}
.category-select {
  width: calc(100% - 50px);
  padding: 15px 25px;
  background-color: var(--color-back);
}
.title-credits {
  width: calc(100% - 15px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.style-h3 {
  display: block;
  margin-left: 20px;
  font-size: 20px;
}
.credits-container {
  display: grid;
  place-content: center;
  gap: 10px;
  grid-template-columns: 110px 110px 110px;
  background-color: var(--color-back);
  padding: 15px 0;
}
.credits-container article {
  overflow: hidden;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}
.credits-container article div:first-child {
  width: 100%;
  height: 120px;

  border-radius: 5px;
  overflow: hidden;
}
.credits-container article div:first-child img {
  width: 100%;
  color: var(--color-background);
  font-size: 12px;
  font-weight: 700;
  object-position: center;
}
.credits-container article div:last-child p:first-child {
  color: var(--color-background);
  font-size: 16px;
  font-weight: 800;
  line-height: 1;
  text-align: center;
}
.credits-container article div:last-child p:last-child {
  color: var(--color-background);
  font-size: 14px;
  text-align: center;
}

.container-list-movie-select {
  width: 100vw;
  position: relative;
  padding-bottom: 50px;
}
.container-list-movie-select h3 {
  padding-bottom: 10px;
}
.movie-select-class {
  width: 100%;
  height: 320px;
  background-color: var(--color-back);
}
.list-movie {
  width: 100%;
  position: absolute;
  display: flex;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 25px 0;
}
.list-movie article:first-child {
  margin-left: 15px;
}
.list-movie article:last-child {
  margin-right: 15px;
}
                          /*  trends    */
.trends {
  padding-top: 100px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

                                    /* footer */
.content-footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: capitalize;
  background-color: transparent;
  background-color: var(--color-background);
}
.content-footer p{
  font-size: 14px;
  font-weight: 600;
  color: white;
}
.content-footer a{
  font-size: 13px;
  font-weight: bold;
  color: var(--color-back);
}
.content-footer a:hover{
  color: var(--color-primary);
}

#id28 { background-color: rgb(116, 0, 0);}
#id12 { background-color: rgb(64, 121, 31);}
#id16 { background-color: yellow;}
#id35 { background-color: rgb(155, 255, 230);}
#id80 { background-color: rgb(255, 0, 0);}
#id99 { background-color: rgb(197, 113, 64);}
#id18 { background-color: rgb(177, 255, 194);}
#id10751 { background-color: rgb(185, 40, 161);}
#id14 { background-color: rgb(0, 153, 255);}
#id36 { background-color: rgb(128, 69, 69);}
#id27 { background-color: rgb(0, 75, 56);}
#id10402 { background-color: rgb(179, 255, 0);}
#id9648 { background-color: rgb(114, 75, 255);}
#id10749 { background-color: rgb(150, 170, 148);}
#id878 { background-color: rgb(85, 172, 124);}
#id10770 { background-color: rgb(36, 92, 48);}
#id53 { background-color: rgb(71, 57, 29);}
#id10752 { background-color: rgb(59, 112, 75);}
#id37 { background-color: rgb(189, 112, 212);}

.inactive {
  display: none;
}

.showSearch {
  position: fixed;
  margin: 0;
  top: 8px;
  right: 15px;
  z-index: 100;
}
.error {
  display: block;
  height: 100%;
  background-color: #fff;
  object-fit: contain;
  object-position: top;
}
@keyframes load-item {
  0%, 100%{
    opacity: .2;
  }
  50% {
    opacity: .8;
  }
}